<div *ngIf="currentOperation" class="edit-form">
  <h4>Operation</h4>
  <form>
    <div class="form-group">
      <label for="title">Concept</label>
      <input type="text" class="form-control" id="concept"[(ngModel)]="currentOperation.concept"
      name="concept"
      />
      <label for="amount">Amount</label>
      <input type="text" class="form-control" id="amount"[(ngModel)]="currentOperation.amount"
      name="amount"
      />
      <label for="date">Date</label>
      <input type="text" class="form-control" id="date" [(ngModel)]="currentOperation.date"
      name="date"
      />
      
      <label for="type">Type</label>
      <input type="text" class="form-control"  id="type"[(ngModel)]="currentOperation.type" disabled
      name="type"
      />
    </div>
  </form>

  <br>
  <button class="btn btn-danger" (click)="deleteOperation()">
    Delete
  </button>

  <button type="submit" class="btn btn-primary" (click)="updateOperation()">
    Update
  </button>
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentOperation">
  <br />
  <p>Cannot access this Operation...</p>
</div>
